<div class="container">
  <%= simple_form_for @movie do |f| %>
    <%= f.input :title %>
    <%= f.input :overview %>
    <%= f.input :poster_url %>
    <%= f.input :rating %>
    <%= f.button :submit, "Incluir Pelicula", class: "btn btn-success mt-3"%>
  <% end %>
</div>
<div class="text-center py-3"> 
  <%=link_to 'volver a peliculas', movies_path, class: 'btn btn-primary'%>
</div>
